html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #212a3e;
  color: #9ba4b5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.section-1 {
  background-color: #2a2f4f;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0em;
  margin: 0.3em;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0.2em;
}

li {
  padding: 0.3em;
}

button {
  border: none;
  border-radius: 6px;
  background-color: #9ba4b5;
}
