html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #aac8a7;
  color: #617a55;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.section-1 {
  background-color: #e3f2c1;
  height: 40%;
}

.section-2 {
  text-align: center;
  height: 40%;
  background-color: #aac8a7;
  color: #617a55;
}

footer {
  display: flex;
  background-color: #617a55;
  color: #e3f2c1;
  text-align: center;
}

nav {
  background-color: #f7e1ae;
  padding: 0;
  margin: 0;
}

hr {
  margin: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0em;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0.2em;
}

li {
  padding: 0.3em;
}

button {
  border: none;
  border-radius: 6px;
  background-color: #212a3e;
  color: #f97b22;
  padding: 0.3em;
  margin: 0.2em;
}

button:hover {
  cursor: pointer;
}

.hero {
  margin: 1rem;
}

.hero:hover {
  color: #ff6d60;
  background-color: #41644a;
  transition: background 0.5s ease;
}

.lala:hover {
  transition: 0.3s;
  font-family: cursive;
}

.product-container {
  min-height: 50%;
  display: flex;
  justify-content: space-around;
}

.product {
  border: #b71375 3px solid;
  background-color: #ffa559;
  height: 6rem;
  width: 6rem;
  margin: 1em;
  padding: 2em;
}

main {
  display: flex;
  flex-direction: column;
  height: 95vh;
}
footer {
  height: 5vh;
  text-align: center;
}
